* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
  scroll-behavior: smooth;
  background-color: #fafafa;
}

.container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  margin-top: 5em;
}
